@{
    ViewData["Title"] = "HW";
}

<h1>旅遊景點</h1>

<div class="btn-group">
    <button type="button" class="btn btn-dark btn-lg dropdown-toggle mb-3" data-bs-toggle="dropdown"
            aria-expanded="false" id="dropdownButton">
        景點類別
    </button>
    <ul class="dropdown-menu" id="menu">
        <li><a class="dropdown-item" href="#" data-category="所有景點">所有景點</a></li>
        <!-- 動態生成下拉式選單 -->
    </ul>
</div>
<div class="row" id="card">
    <!-- 動態生成card -->
</div>

@section Scripts {
    <script src="~/js/travel.js"></script>
    <script>
        const card = document.querySelector('#card');
        const menu = document.querySelector('#menu');
        const dropdownButton = document.querySelector('#dropdownButton')
        const datas = spots.CommonFormat.Section;

        // cat2 只取唯一一個
        const uniqueCat2Values = {};

        datas.forEach(data => {
            const { CAT2 } = data;
            // 確保不重複添加
            const lowerCaseCat2 = CAT2.toLowerCase();
            if (!uniqueCat2Values[lowerCaseCat2]) {
                uniqueCat2Values[lowerCaseCat2] = true;
                menu.innerHTML += `<li><a class="dropdown-item" href="#" data-category="${CAT2}">${CAT2}</a></li>`;
            }
        });
        function showCardsByCategory(category) {

            let filteredData;

            if (category === '' || category === '所有景點') {
                // 如果類別為空，顯示所有卡片
                filteredData = datas;
                dropdownButton.textContent = '景點類別';
            } else {
                // 根據類別過濾
                filteredData = datas.filter(data => data.CAT2 === category);
                dropdownButton.textContent = category;
            }

            const htmldatas = filteredData.map(({ stitle, file, xbody, CAT2, xurl }) => {
                const firstImage = Object.values(file.img)[1];
                const { description, text } = firstImage;

                if (xurl == undefined) {
                    return `<div class="col-md-4 mb-3">
                                            <div class="card h-100 p-2" id="${CAT2}">
                                                <img src="${text}" class="rounded img-fluid" alt="${description}">
                                                <div class="card-body">
                                                    <h3 class="card-title">${stitle}</h5>
                                                    <p class="card-text">${xbody}</p>
                                                    <div class="d-flex justify-content-between">
                                                             <p class="card-text"><small class="text-body-secondary">${CAT2}</small></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>`;
                }else{
                    return `<div class="col-md-4 mb-3">
                                            <div class="card h-100 p-2" id="${CAT2}">
                                                    <img src="${text}" class="rounded img-fluid" alt="${description}">                                       
                                                <div class="card-body">
                                                    <h3 class="card-title">${stitle}</h5>
                                                    <p class="card-text">${xbody}</p>
                                                    <div class="d-flex justify-content-between">
                                                             <p class="card-text"><small class="text-body-secondary">${CAT2}</small></p>
                                                             <a href="${xurl}" class="btn btn-dark">更多訊息</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>`;
                }

            });

            card.innerHTML = htmldatas.join("");
        }

        document.querySelectorAll('.dropdown-item').forEach(item => {
            item.addEventListener('click', function (event) {
                event.preventDefault();
                const category = this.getAttribute('data-category');
                showCardsByCategory(category);
            });
        });

        // 顯示卡片
        showCardsByCategory('');
        console.log(spots.CommonFormat.Section);
    </script>
}

