@{
	ViewData["Title"] = "Register";
}

<h1>Register</h1>
<form>
	<div class="mb-3">
		<label for="name" class="form-label">姓名:</label>
		<input type="text" class="form-control" id="name" name="Name">
	</div>
	<div class="mb-3">
		<label for="email" class="form-label">電子郵件:</label>
		<input type="email" class="form-control" id="email" name="Email">
	</div>
	<div class="mb-3">
		<label for="age" class="form-label">年齡:</label>
		<input type="number" class="form-control" id="age" name="Age">
	</div>
	<button type="submit" class="btn btn-primary" id="button">送出</button>
</form>

@section Scripts{
	<script>
		const userName = document.querySelector('#name');
        const userAge = document.querySelector('#age');
        const userEmail = document.querySelector('#email');
        const btn = document.querySelector('#button');
        btn.addEventListener('click', async (event) => {
            event.preventDefault();

			const url = '@Url.Content("~/api/checkAccount")';
			const response = await fetch(url);
			const datas = await response.text();

			return `<div class="alert alert-info">${datas}</div>`;

			Name.innerHTML = result.join("");
		};

		
	</script>
}

