@{
	ViewData["Title"] = "Spots";
}

<h1>Spots</h1>
<div class="row">
	<div class="col-3"></div>
	<div class="col-6">
		<nav aria-label="Page navigation example">
			<ul class="pagination">
				<li class="page-item"><a class="page-link" href="#">1</a></li>
				<li class="page-item"><a class="page-link" href="#">2</a></li>
				<li class="page-item"><a class="page-link" href="#">3</a></li>
			</ul>
		</nav>
	</div>
	<div class="col-3">
		<input type="search" id="inputKeyword" class="form-control mb-3" placeholder="景點搜尋" />
	</div>
</div>
<div class="row row-cols-1 row-cols-md-3 g-4" id="spots">
</div>

@section Scripts {
	<script>
		const searchData = {
			"categoryId": 0,
			"keyword": "北投",
			"page": 1,
			"pageSize": 9,
			"sortType": "asc",
			"sortBy": ""
		};

		const divSpots = document.querySelector('#spots');
		const inputKeyword = document.querySelector('#inputKeyword');
		const ulPagination = document.querySelector('.pagination')

		//根據searchData的條件 讀取景點資料
		const loadSpots = async () => {
			const reponse = await fetch('@Url.Content("~/api/spots")', {
				method: 'POST',
				body: JSON.stringify(searchData),
				headers: {
					'Content-Type': 'application/json'
				}
			});
			const datas = await reponse.json();

			//產生分頁數
			let liPaging = "";
			for (let i = 1, max = datas.totalPages; i <= max; i++) {
				liPaging += `<li class="page-item" onclick ="paginHandler(${i})"><a class="page-link" href="#">${i}</a></li>`
			}
			ulPagination.innerHTML = liPaging;

			const cardSpots = datas.spotsResult.map(spot => {
				const { spotId, spotDescription, spotImage, address, spotTitle } = spot;
				return (
					`<div class="col">
										<div class="card h-100">
											<img src="${spotImage}" class="card-img-top" alt="${spotTitle}">
													<div class="card-body">
														<h5 class="card-title">${spotId} - ${spotTitle}</h5>
														<p class="card-text">">${spotDescription.length <= 100 ? spotDescription : spotDescription.substring(0, 100)}...</p>
													</div>
											<div class="card-footer">
											<small class="text-body-secondary">${address}</small>
													</div>
										</div>
									</div>`
				)
			});

			divSpots.innerHTML = cardSpots.join('');
		}

		inputKeyword.addEventListener('keydown', (event) => {
			searchData.keyword = event.target.value;
			searchData.page = 1;
			loadSpots();
		});

		const paginHandler = (page) => {
			searchData.page = page;
			loadSpots();
		}

		//載入景點
		loadSpots();
	</script>
}

